@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

%pismo
{
   font-size: 16px;
}

%blue
{
  color: #00b2ff;
}

%orange
{
  color: #ff8a00;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

h3,
h2,
h1 {
  @extend %blue;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

.wrapper {
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerwrapper {
  background-color: #FFFFFF;
  width: 1440px;
  margin: auto;

}

.menu {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .menu-link {
    color: #00b2ff;
    text-align: center;
    text-decoration: none;
    padding: 4px;
  }
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .landing-text {
    padding-top: 72px;
  }
}

.button {
  border-radius: 8px;
  @extend %orange;
  border-style: solid;
  border-width: 1px;
  @extend %pismo;
  padding: 12px 20px;
  height: 48px;
  border-color: #ff8a00;
  &-primary {
    background-color: #ff8a00;
    color: white;
    margin: 10px;
  }
  &-secondary {
    @extend %orange;
    background-color: white;
    margin: 10px;
  }
 }

.card {
  max-width: 400px;
  max-height: 736px;
  background-color: white;
  margin-right: 16px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  h2 {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 24px;
  }
  p {
    font-size: 12px;
    text-align: left;
  }
}

.list-of-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.list-of-cards-wrapper {
  text-align: center;
}

.article {
  max-width: 360px;
  margin-left: 16px;
  text-align: left;
  @extend %pismo;
  h5 {
    @extend %blue;
    margin-bottom: 4px;
  }
}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .mail {
    text-decoration: none;
    @extend %orange;
  }
}

.middle {
  text-align: center;
}

.articleList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.questionList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 80px 40px 80px;
}

.question {
  text-align: left;
  margin-left: 12px;
  max-width: 440px;
}